{% load comments %}
<html><head><title>Meditations of Marcus Aurelius</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style media="screen" type="text/css">
body {
font-family: 'Open Sans', sans-serif;
font-size: 14
}
p {
font-size: 12
}
b {
font-size: 14
}
a {
font-size: 12
}
dl {
font-size: 12
}
textarea {
background-color: #eeeeee
}
input {
background-color: #eeeeee
}
</style>
</head>
<body bgcolor=#dddddd>
<script>
function translateArchaic()
{
  var str=document.getElementById("meditation_content").innerHTML;
  str=str.replace(/ thou /g," you ");
  str=str.replace(/ hath /g," has ");
  str=str.replace(/ unto /g," to ");
  str=str.replace(/ whatsoever /g," whatever ");
  str=str.replace(/ shouldest /g," should ");
  str=str.replace(/ thy /g," your ");
  str=str.replace(/ thee /g," you ");
  str=str.replace(/ thyself /g," yourself ");
  str=str.replace(/ mayest /g," may ");
  str=str.replace(/ art /g," are ");
  str=str.replace(/ seeth /g," sees ");
  str=str.replace(/ doth /g," does ");
  document.getElementById("meditation_content").innerHTML=str;
}
</script>
<table align=center width=800><tr><td>
<img border=4 align=right src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Marcus_Aurelius_Glyptothek_Munich.jpg/220px-Marcus_Aurelius_Glyptothek_Munich.jpg">
<p align=center>
<a href="/">Today</a> | <a href="/random">Random</a> | <a href="http://www.gutenberg.org/ebooks/2680">Full Text</a> | <a href="https://github.com/fastloris/aurelius">GitHub</a><br><br>
<b>Marcus Aurelius - Meditations
Book {{ meditation.book}} / Section {{ meditation.section }}</b> ||
<a href="/id/{{ meditation.id }}">Permalink</a>
<button onclick="translateArchaic()">Translate</button>
</p>
<p id="meditation_content">{{ meditation.content }}</p>
<b>Comments</b><br>
{% get_comment_count for meditation as comment_count %}
{% if comment_count > 0 %}
  {% render_comment_list for meditation %}
{% else %}
  <p>No comments yet.</p>
{% endif %}
<b>Submit Comment</b><br>
{% render_comment_form for meditation %}
</td></tr></table>
</body>
</html>
